<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sms.dao.FileMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.sms.model.File">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `created_time`,
        `type`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id" parameterType="com.sms.model.File">
        INSERT INTO file (
            `type`
        ) VALUES (
            #{pojo.type}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.type!=null"> `type`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.type!=null">#{pojo.type},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO file (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.type}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE file
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.type != null"> `type` = #{pojo.type} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
</mapper>

